<!DOCTYPE html>
<html>
<head>
  <title>S1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <ul>
      <% flash.each do |name, value| -%>
      <li><%= value%> </li>
      <% end -%>
    </ul>
  </div>
  <div>
    username: <b><%= current_user.try(:username) %></b>
    <% if current_user %>
      <%= link_to 'sign_out', sign_out_url %>
    <% else %>
      <%= link_to 'sign_in', sign_in_url %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
